@media (min-width: 400px) and (max-width:411px) {
    .time-sound1 {
        margin-left:300px;
        margin-top: -50px;
    }

    .time-sound2 {
        margin-left: 340px;
    }

    .sideButtons-5 {
        margin-left: -140px
    }

    .bar {
        width: 52%;
    }

    .bar .a-bar {
        font-size: 10px;
    }}
@media (min-width: 481px) and (max-width:499px) {
    .time-sound1 {
        margin-left:380px;
        margin-top: -50px;
    }

    .time-sound2 {
        margin-left: 420px;
    }

    .sideButtons-5 {
        margin-left: -80px
    }

    .bar {
        width: 60%;
    }

    .bar .a-bar {
        font-size: 10px;
    }}
@media (min-width: 471px) and (max-width:480px) {
    .time-sound1 {
        margin-left:365px;
        margin-top: -50px;
    }

    .time-sound2 {
        margin-left: 408px;
    }

    .sideButtons-5 {
        margin-left: -120px
    }

    .bar {
        width: 58%;
    }

    .bar .a-bar {
        font-size: 10px;
    }}


@media (min-width: 464px) and (max-width:470px) {
    .time-sound1 {
        margin-left:355px;
        margin-top: -50px;
    }

    .time-sound2 {
        margin-left: 398px;
    }

    .sideButtons-5 {
        margin-left: -120px
    }

    .bar {
        width: 57%;
    }

    .bar .a-bar {
        font-size: 10px;
    }}
@media (min-width: 450px) and (max-width:463px) {
    .time-sound1 {
        margin-left:349px;
        margin-top: -50px;
    }

    .time-sound2 {
        margin-left: 390px;
    }

    .sideButtons-5 {
        margin-left: -120px
    }

    .bar {
        width: 57%;
    }

    .bar .a-bar {
        font-size: 10px;
    }}
@media (min-width: 446px) and (max-width:450px) {
    .time-sound1 {
        margin-left:339px;
        margin-top: -50px;
    }

    .time-sound2 {
        margin-left: 379px;
    }

    .sideButtons-5 {
        margin-left: -140px
    }

    .bar {
        width: 56%;
    }

    .bar .a-bar {
        font-size: 10px;
    }}
@media (min-width: 441px) and (max-width:449px) {
    .time-sound1 {
        margin-left:339px;
        margin-top: -50px;
    }

    .time-sound2 {
        margin-left: 379px;
    }

    .sideButtons-5 {
        margin-left: -140px
    }

    .bar {
        width: 56%;
    }

    .bar .a-bar {
        font-size: 10px;
    }}

@media (min-width: 441px) and (max-width:450px) {
    .time-sound1 {
        margin-left:339px;
        margin-top: -50px;
    }

    .time-sound2 {
        margin-left: 379px;
    }

    .sideButtons-5 {
        margin-left: -140px
    }

    .bar {
        width: 56%;
    }

    .bar .a-bar {
        font-size: 10px;
    }}
@media (min-width: 436px) and (max-width:440px) {
    .time-sound1 {
        margin-left:329px;
        margin-top: -50px;
    }

    .time-sound2 {
        margin-left: 369px;
    }

    .sideButtons-5 {
        margin-left: -140px
    }

    .bar {
        width: 56%;
    }

    .bar .a-bar {
        font-size: 10px;
    }}
@media (min-width: 436px) and (max-width:445px) {
    .time-sound1 {
        margin-left:333px;
        margin-top: -50px;
    }

    .time-sound2 {
        margin-left: 372px;
    }

    .sideButtons-5 {
        margin-left: -140px
    }

    .bar {
        width: 56%;
    }

    .bar .a-bar {
        font-size: 10px;
    }}

@media (min-width: 431px) and (max-width:435px) {
    .time-sound1 {
        margin-left:323px;
        margin-top: -50px;
    }

    .time-sound2 {
        margin-left: 362px;
    }

    .sideButtons-5 {
        margin-left: -140px
    }

    .bar {
        width: 55%;
    }

    .bar .a-bar {
        font-size: 10px;
    }}

@media (min-width: 412px) and (max-width:420px) {
    .time-sound1 {
        margin-left:280px;
        margin-top: -50px;
    }

    .time-sound2 {
        margin-left: 320px;
    }

    .sideButtons-5 {
        margin-left: -140px
    }

    .bar {
        width: 46%;
    }

    .bar .a-bar {
        font-size: 10px;
    }}
@media (min-width: 421px) and (max-width:430px) {
    .time-sound1 {
        margin-left:290px;
        margin-top: -50px;
    }

    .time-sound2 {
        margin-left: 330px;
    }

    .sideButtons-5 {
        margin-left: -140px
    }

    .bar {
        width: 46%;
    }

    .bar .a-bar {
        font-size: 10px;
    }}

media (min-width: 571px) and (max-width:576px) {
    .time-sound1 {
        margin-left:430px;
        margin-top: -50px;
    }

    .time-sound2 {
        margin-left: 470px;
    }

    .sideButtons-5 {
        margin-left: -60px
    }

    .bar {
        width: 65%;
    }

    .bar .a-bar {
        font-size: 10px;
    }}




@media (min-width: 561px) and (max-width:570px) {
    .time-sound1 {
        margin-left:455px;
        margin-top: -50px;
    }

    .time-sound2 {
        margin-left: 497px;
    }

    .sideButtons-5 {
        margin-left: -60px
    }

    .bar {
        width: 66%;
    }

    .bar .a-bar {
        font-size: 10px;
    }}
@media (min-width: 551px) and (max-width:560px) {
    .time-sound1 {
        margin-left:445px;
        margin-top: -50px;
    }

    .time-sound2 {
        margin-left: 487px;
    }

    .sideButtons-5 {
        margin-left: -60px
    }

    .bar {
        width: 66%;
    }

    .bar .a-bar {
        font-size: 10px;
    }}





@media (min-width: 536px) and (max-width:541px) {
    .time-sound1 {
        margin-left:428px;
        margin-top: -50px;
    }

    .time-sound2 {
        margin-left: 465px;
    }

    .sideButtons-5 {
        margin-left: -60px
    }

    .bar {
        width: 64%;
    }

    .bar .a-bar {
        font-size: 10px;
    }}
@media (min-width: 542px) and (max-width:550px) {
    .time-sound1 {
        margin-left:435px;
        margin-top: -50px;
    }

    .time-sound2 {
        margin-left: 475px;
    }

    .sideButtons-5 {
        margin-left: -60px
    }

    .bar {
        width: 65%;
    }

    .bar .a-bar {
        font-size: 10px;
    }}



@media (min-width:500px) and (max-width:505px){
    .time-sound1{
        margin-left:392px;
        margin-top:-52px;
    }
    .time-sound2{
        margin-left:435px;
    }.sideButtons-5{
margin-left:-60px
}
    .bar {
        width:61%;
    }
    .bar .a-bar{
        font-size:8px;
       
    }}
@media (min-width: 511px) and (max-width:515px) {
    .time-sound1 {
        margin-left:405px;
        margin-top: -52px;
    }

    .time-sound2 {
        margin-left: 445px;
    }

    .sideButtons-5 {
        margin-left: -60px
    }

    .bar {
        width: 63%;
    }

    .bar .a-bar {
        font-size: 8px;
    }}
@media (min-width: 531px) and (max-width:535px) {
    .time-sound1 {
        margin-left:420px;
        margin-top: -50px;
    }

    .time-sound2 {
        margin-left: 460px;
    }

    .sideButtons-5 {
        margin-left: -60px
    }

    .bar {
        width: 64%;
    }

    .bar .a-bar {
        font-size: 8px;
    }}
@media (min-width: 522px) and (max-width:530px) {
    .time-sound1 {
        margin-left:417px;
        margin-top: -50px;
    }

    .time-sound2 {
        margin-left: 459px;
    }

    .sideButtons-5 {
        margin-left: -60px
    }

    .bar {
        width: 64%;
    }

    .bar .a-bar {
        font-size: 8px;
    }}
@media (min-width: 515px) and (max-width:521px) {
    .time-sound1 {
        margin-left:410px;
        margin-top: -50px;
    }

    .time-sound2 {
        margin-left: 450px;
    }

    .sideButtons-5 {
        margin-left: -60px
    }

    .bar {
        width: 63%;
    }

    .bar .a-bar {
        font-size: 8px;
    }}
@media (min-width: 506px) and (max-width:510px) {
    .time-sound1 {
        margin-left:399px;
        margin-top: -52px;
    }

    .time-sound2 {
        margin-left: 439px;
    }

    .sideButtons-5 {
        margin-left: -60px
    }

    .bar {
        width: 62%;
    }

    .bar .a-bar {
        font-size: 8px;
    }}

@media (min-width:600px) and (max-width:699px){
    .time-sound1{
        margin-left:430px;
        margin-top:-52px;
    }
    .time-sound2{
        margin-left:470px;
    }.sideButtons-5{
margin-left:-60px
}
    .bar {
        width:64%;
    }
    .bar .a-bar {
        font-size: 10px;
    }
}
@media (min-width:992px) and (max-width:999px){
    .time-sound1{
        margin-left:850px !important;
        margin-top:-52px;
    }
    .time-sound2{
        margin-left:890px !important;
    }
    .bar {
        width:81%;
    }
    
}


@media (min-width:700px) and (max-width:767px){
    .time-sound1{
        margin-left:430px;
        margin-top:-52px;
    }
    .time-sound2{
        margin-left:470px;
    }.sideButtons-5{
width:100px;

}.bar .a-bar {
        font-size: 10px;
    }
    .bar {
        width:65%;
    }
    .sideButtons-5{
        margin-left:-80px;
        margin-top:65px;
    }  .wrap{
        margin-left:170px;
        margin-top:50px;
    }
}
@media (min-width:768px) and (max-width:799px){
    .time-sound1{
        margin-left:610px;
        margin-top:-52px;
    }
    .time-sound2{
        margin-left:650px;
    }.sideButtons-5{
width:100px;

}.bar .a-bar {
        font-size: 10px;
    }
    .bar {
        width:74%;
    }
    .sideButtons-5{
        margin-left:-80px;
        margin-top:-15px;
    
    }
.wrap{
    margin-left:170px;
}
}





@media (min-width:800px) and (max-width:899px){
    .time-sound1{
        margin-left:610px;
        margin-top:-52px;
    }
    .time-sound2{
        margin-left:650px;
    }.sideButtons-5{
width:100px;

}
    .bar {
        width:74%;
    }
     .wrap{
        margin-left:210px;
        
    }.sideButtons-5{
        margin-left:-50px
    }
}




@media (min-width:1000px) and (max-width:1099px){
    .time-sound1{
        margin-left:850px;
        margin-top:-52px;
    }
    .time-sound2{
        margin-left:890px;
    }.sideButtons-5{
width:100px;

}
    .bar {
        width:82%;
    }
}
@media (min-width:900px) and (max-width:999px){
    .time-sound1{
        margin-left:610px;
        margin-top:-52px;
      .bar {
        width:79%;
    }
      margin-top:-50px
    }
    .time-sound2{
        margin-left:650px;
    
}
}




@media (min-width:1100px) and (max-width:1199px){
    .time-sound1{
        margin-left:850px;
    }
    .time-sound2{
        margin-left:890px;
    }.sideButtons-5{
width:100px;

}
    .bar {
        width:82%;
    }
}


@media(max-width: 50px) {
.time-sound1{
    margin-left:150px;
}
.sideButtons-5{
width:119px;
margin-left:-120px;
}
.time-forward{
    width:20px;
    margin-top:0px;
}}
@media (min-width: 0px) and (max-width: 100px) {
    .time-sound1 {
        margin-left:60px !important;
        height:30px !important;
    width:25px;
    background-position: -8px -62px;   
    margin-top:-30px !important;
    
}.bar{
    margin-left: 40px;
    height:30px;
    margin-top:-30px;
    width:53%;
border-right:none;
}table td {
    font-size: 1px;
}.left-side {
    margin-top:-15px;
    margin-left:-14px;
}

    .time-sound2 {
        margin-left:75px !important;
        height:30px !important;
    width:25px;
    background-position: -8px -158px; 
    margin-top:-30px !important;
     
}.time-backword{
    height:30px !important;
    width:20px;
    background-position: -8px -58px;
    margin-left:-17px;
    margin-top:0px;
}
.time-playpause {
    height:30px !important;
    width:31px;
    margin-left:2px;
   
    background-position: -8px -75px;   
}
.time-forward{
    width:20px !important;
    background-position: -8px -58px !important;
    height:30px !important;
    margin-left:33px !important;
    margin-top:0px;
}
.footer-bg{
    width:310%
}
.header-action{
    width:302%;
}
.main{
    padding:0px;
    width:540%;
}
}


/*@media (min-width: 201px) and (max-width: 300px) {
    .time-sound1 {
        margin-left:195px !important;
        height:30px !important;
    width:27px;
    background-position: -8px -62px;   
    margin-top:-30px !important;
    
}
    .time-sound2 {
        margin-left:224px !important;
        height:30px !important;
    width:27px;
    background-position: -8px -158px; 
    margin-top:-30px !important;
     
}
    
.time-backword{
    height:30px !important;
    width:30px;
    background-position: -8px -58px;
    margin-left:-17px;
}
.time-playpause {
    height:30px !important;
    width:37px;
    margin-left:4px;
   
    background-position: -8px -75px;   
}
.time-forward{
    width:30px !important;
    background-position: -8px -58px !important;
    height:30px !important;
    margin-left:40px !important;
}
.bar{
    margin-left: 45px;
    height:30px;
    margin-top:-30px;
    width:58%;
border-right:none;
}

}*/

@media (min-width: 201px) and (max-width: 300px) {
    .time-sound1 {
        margin-left:130px !important;
        height:30px !important;
    width:27px;
    background-position: -8px -62px;   
    margin-top:-30px !important;
    
}
    .time-sound2 {
        margin-left:144px !important;
        height:30px !important;
    width:27px;
    background-position: -8px -158px; 
    margin-top:-30px !important;
     
}
    
.time-backword{
    height:30px !important;
    width:20px;
    background-position: -8px -58px;
    margin-left:-17px;
}
.time-playpause {
    height:30px !important;
    width:25px;
    margin-left:3px;
   
    background-position: -8px -75px;   
}
.time-forward{
    width:20px !important;
    background-position: -8px -58px !important;
    height:30px !important;
    margin-left:35px !important;
    margin-top:-30px
}
.bar{
    margin-left: 40px;
    height:30px;
    margin-top:-30px;
    width:50%!important;
border-right:none !important;
font-size:5px;

}
.sideButtons-5{
    margin-left:-155px;
    width:110% !important;
    margin-top:500px

    }}
@media (min-width: 301px) and (max-width: 400px) {
    .time-sound1 {
        margin-left:220px !important;
        height:30px !important;
    width:27px;
    background-position: -8px -62px;   
    margin-top:-30px !important;
    
}
    .time-sound2 {
        margin-left:250px !important;
        height:30px !important;
    width:27px;
    background-position: -8px -158px; 
    margin-top:-30px !important;
     
}
    
.time-backword{
    height:30px !important;
    width:20px;
    background-position: -8px -58px;
    margin-left:-17px;
}
.time-playpause {
    height:30px !important;
    width:25px;
    margin-left:3px;
   
    background-position: -8px -75px;   
}
.time-forward{
    width:20px !important;
    background-position: -8px -58px !important;
    height:30px !important;
    margin-left:35px !important;
    margin-top:-30px
}
.bar {
    margin-left: 40px;
    height:30px;
    margin-top:-30px;
    width:67%!important;
border-right:none !important;


}
.sideButtons-5{
    margin-left:-155px;
    width:110% !important;
    margin-top:500px

}
.a-bar{
    font-size:8px;
}}
@media (min-width: 101px) and (max-width: 200px) {
    .time-sound1 {
        margin-left:150px !important;
        height:30px !important;
    width:27px;
    background-position: -8px -62px;   
    margin-top:-30px !important;
    
}
    .time-sound2 {
        margin-left:250px !important;
        height:30px !important;
    width:27px;
    background-position: -8px -158px; 
    margin-top:-30px !important;
     
}
    
.time-backword{
    height:30px !important;
    width:20px;
    background-position: -8px -58px;
    margin-left:-17px;
}
.time-playpause {
    height:30px !important;
    width:25px;
    margin-left:3px;
   
    background-position: -8px -75px;   
}
.time-forward{
    width:20px !important;
    background-position: -8px -58px !important;
    height:30px !important;
    margin-left:35px !important;
    margin-top:-30px
}
.bar {
    margin-left: 40px;
    height:30px;
    margin-top:-30px;
    width:67%!important;
border-right:none !important;


}
.sideButtons-5{
    margin-left:-155px;
    width:110% !important;
    margin-top:500px

}
.a-bar{
    font-size:px!important;
    border-right:none !important;
    clear:both;
    margin-left:-10px;
    font-size:5px !important;
}}
@media (min-width: 0px) and (max-width: 100px) {
    .time-sound1 {
        margin-left:150px !important;
        height:30px !important;
    width:27px;
    background-position: -8px -62px;   
    margin-top:-30px !important;
    
}
    .time-sound2 {
        margin-left:250px !important;
        height:30px !important;
    width:27px;
    background-position: -8px -158px; 
    margin-top:-30px !important;
     
}
    
.time-backword{
    height:30px !important;
    width:20px;
    background-position: -8px -58px;
    margin-left:-17px;
}
.time-playpause {
    height:30px !important;
    width:25px;
    margin-left:3px;
   
    background-position: -8px -75px;   
}
.time-forward{
    width:20px !important;
    background-position: -8px -58px !important;
    height:30px !important;
    margin-left:35px !important;
    margin-top:-30px
}
.bar {
    margin-left: 40px;
    height:30px;
    margin-top:-30px;
    width:67%!important;
border-right:none !important;


}
.sideButtons-5{
    margin-left:-155px;
    width:140% !important;
    margin-top:500px
    height:30x !important;

}
.a-bar{
    font-size:px!important;
    border-right:none !important;
    clear:both;
    margin-left:-10px;
    font-size:5pxm !important;
}}



























